<div class="container" style="min-height:80vh;">
  <div class="row"  style="margin-top:30px;">
    <div class="col-md-8 col-md-offset-2">

      <!--Card-->
      <div class="card">
        <!--Main column-->
        <ul class="list-group">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <li class="list-group-item list-group-item-danger">
            <h3><strong>JEM으로 입장하기</strong></h3>
            <strong><%= devise_error_messages! %></strong>
            </li>
            <li class="list-group-item list-group-item-warning">
            <strong>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>
            </strong>
            </li>
            <li class="list-group-item list-group-item-warning">
            <strong>
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
            </strong>
            </li>
            <li class="list-group-item list-group-item-warning">
            <strong>
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
            </strong>
            </li>
            <%#= render "users/shared/links" %>
            <button type="submit" name="commit" class="btn btn-success" style="float:right;">로그인</button>
          <% end %>
        </ul>
        <!--/.Post-->
      </div>
      <!--/.Card-->
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
