<div class="container">
  <div class="row">
    <!--img style="margin-top:1px; width=100%;" align="middle" src="http://iacs-courses.seas.harvard.edu/courses/iacs_projects/www.equityforecast.com/images/stockmarket.jpg"/--><br><br>
    <!-- Trigger the modal with a button -->
    <%# if flash[:fail_notice] %>
      <div class="notice" style="text-align: center; background-color: #7699D1; color: red; margin-bottom: 50px;"><h1><%# flash[:fail_notice] %></h1></div>
    <%# end %>
    <% if flash[:success_notice] %>
      <div class="notice" style="text-align: center; background-color: #7699D1; color: red; margin-bottom: 50px;"><h1><%= flash[:success_notice] %></h1></div>
    <% end %>
    <p>
    판매 신청하고자하는 팀 : <input type="text" name="teamname" style="font-weight:bold;" value="<%#= current_user.name %>금융" readonly/><br>
    판매하고자 하는 상품 1개당 가격 : <input type="text" name="selleachprice" required/>
    판매 신청하려는 상품의 갯수 : <input type="text" name="selleach" required/>
    <button type="submit" id="input-submit" class="btn btn-secondary" style="height:7vw; font-size:3vw;"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;<b>판매 신청하기</b></button>
    </p>
  </div>
  <%= render partial: "my_card" %>

  <div class="col-md-6" style="text-align:center;">
    <h2>
      <strong>Seller list<br>
        <h3>이 팀의 상품을 사고싶다면!</h3>
      </strong>
    </h2>
    <h5 class="modal-title">
      현재 가지고 계신 코인은 다음과 같습니다.<br>
      <i class="fa fa-money" aria-hidden="true"></i>&nbsp;<b><%= current_user.coin %>원</b>
    </h5>
    <table class="table-info table-hover col-md-offset-3 col-md-6">
      <thead class="thead-inverse">
        <tr>
          <th>이름</th>
          <th>판매 카드</th>          
          <th>올린시간</th>
          <th>가격</th>
          <th>구매 하기</th>
        </tr>
      </thead>
      <tbody>
        <% if @sell_order_for_this_team != [] %>
          <% @sell_order_for_this_team.each do |o| %>
            <form action="/team/buy" method="POST">
              <tr>
                <td><%= o.seller.name %></td>
                <td><%= o.card.team_id %></td>
                <td><%= o.created_at.to_s(:db).split(' ')[1] %></td>
                <td><%= o.price %></td>
                <td><input type="hidden" name="t_id" value="<%= params[:t_id] %>"><input type="hidden" name="order_id" value="<%= o.id %>"><input type="hidden" name="seller_id" value="<%= o.seller_id %>"></input><button type="submit" class="btn btn-success-outline waves-effect">구매하기</button></td>
              </tr>
            </form>
          <% end %>
        <% else %>
          <td>상품이</td><td> 없습니다.</td><td></td><td></td>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6" style="text-align:center;">
    <h2>
      <strong>Buyer list<br>
        <h3>현재 이 팀 상품을 구매신청한 사람들!</h3>
      </strong>
    </h2>
    <table class="table-warning table-hover col-md-offset-3 col-md-6">
      <thead class="thead-inverse">
        <tr>
          <th>이름</th>
          <th>판매 카드</th>          
          <th>올린시간</th>
          <th>가격</th>
          <th>판매 하기</th>
        </tr>
      </thead>
      <tbody>
        <% if @buy_order_for_this_team != [] %>
          <% @buy_order_for_this_team.each do |o| %>
            <form action="/team/sell" method="POST">
              <tr>
                <td><%= o.buyer.name %></td>
                <td><%= o.buy_team_id %></td>
                <td><%= o.created_at.to_s(:db).split(' ')[1] %></td>
                <td><%= o.price %></td>
                <td><input type="hidden" name="t_id" value="<%= params[:t_id] %>"><input type="hidden" name="order_id" value="<%= o.id %>"><input type="hidden" name="buyer_id" value="<%= o.buyer_id %>"></input><button type="submit" class="btn btn-success-outline waves-effect">판매하기</button></td>
              </tr>
            </form>
          <% end %>
        <% else %>
          <td>상품이</td><td> 없습니다.</td><td></td><td></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div style="margin-bottom: 100px; width: 100px; height: 100px;">
</div>
