<div class="container">
  <!--Page heading-->
  <div class="row">
    <div class="col-md-12" style="margin-top:20px;">
      <h2 class="h1-responsive" style="text-align:center;">
        <strong>이 서비스들이 세상에 나온다면..<br> 사람들이 가장 유용하게 사용하는 서비스는 무엇이 될까요?<br></strong>
        <small class="text-muted" style="text-align:center;">당신의 선택이 중요합니다!</small>
      </h2>
    </div>
  </div>
  <hr>

  <% 0.upto(3) do |i| %>
    <div class="row" style="text-align:center;">
      <% 0.upto(2) do |j| %>
        <% if !@teams.to_a[i*3 + j].nil? %>
          <div class="col-md-4">
            <div class="card">
              <div class="view overlay hm-white-slight">
                <img src="http://mdbootstrap.com/images/regular/nature/img%20(10).jpg" class="img-fluid" alt="">
                <a href="<%= buysell_path(i*3 + j + 1) %>">
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-block">
                <h4 class="card-title"><%= @teams.to_a[i*3 + j].name %></h4>
                <p class="card-text"><%= @teams.to_a[i*3 + j].information %></p><hr>
                <p class="card-text"><%= @teams.to_a[i*3 + j].name %> 팀의 현재 상황
                <%# if previous_price<=previousbefore_price %>
                  (<%#= aa%><i class="fa fa-arrow-up" aria-hidden="true" style="color:blue;"></i>)
                <%# else %>
                  <i class="fa fa-arrow-up" aria-hidden="true"></i>
                <%# end %>
                : 주가 = <%#= aa %> 원</p>
                <div class="read-more">
                  <a href="<%= buysell_path(i*3 + j + 1) %>" class="btn btn-primary"><%= @teams.to_a[i*3 + j].name %>팀을 Buy/Sell하러가기!</a>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-md-4">
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <nav class="row text-xs-center">
    <ul class="pagination">
      <li class="page-item disabled">
      <a class="page-link" href="#!" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
      </li>
      <li class="page-item active">
      <a class="page-link" href="#!">1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#!">2</a></li>
      <li class="page-item"><a class="page-link" href="#!">3</a></li>
      <li class="page-item"><a class="page-link" href="#!">4</a></li>
      <li class="page-item"><a class="page-link" href="#!">5</a></li>
      <li class="page-item">
      <a class="page-link" href="#!" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
      </li>
    </ul>
  </nav>
  <hr>
</div>
